@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}
.swiper-button-next,
.swiper-button-prev {
  color: #000; /* Set icon color to black (or any color) */
  font-size: 1.5rem; /* Adjust size if needed */
}

.swiper-button-next {
  right: 10px; /* Positioning */
}

.swiper-button-prev {
  left: 10px; /* Positioning */
}
